<div class="text-gray-700 w-full relative z-20 shadow-md" >
    <div class="container mx-auto px-6 py-6 flex items-center justify-between">
        <a href="/" class=text-xl>Statamic Film Database</a>
        <div class="hidden lg:flex lg:static">
            <ul class="flex space-x-5 items-center">
                {{ nav:main_nav }}
                    <li><a href="{{ url }}" class="hover:underline">{{ title }}</a></li>
                {{ /nav:main_nav }}

                {{ if logged_in }}
                <form class="" method="POST" action="/logout">
                    {{ csrf_field }}
                    <button type="submit" class="btn">
                    Log out
                    </button>
                </form>
            {{ else }}
                <a href="/members-login">
                    <button class="btn">
                        Log in
                    </button>
                </a>
            {{ /if }}
            </ul>
        </div>
        <button class="lg:hidden mobile-menu-btn relative h-8 w-8 flex items-center justify-center" x-on:click="navOpen = ! navOpen">
            <div class="bars flex flex-col items-end justify-between h-5 w-8" :class="navOpen ? 'hidden' : ''">
                <div class="h-[2px] w-8 bg-gray-700"></div>
                <div class="h-[2px] w-7 bg-gray-700"></div>
                <div class="h-[2px] w-6 bg-gray-700"></div>
            </div>
            <div class="cross relative h-8 w-8" x-cloak :class="navOpen ? '' : 'hidden'">
                <div class="h-[2px] w-8 bg-gray-700 absolute top-4 right-0 rotate-45"></div>
                <div class="h-[2px] w-8 bg-gray-700 absolute top-4 left-0 -rotate-45"></div>
            </div>
        </button>    
    </div>
</div>

<div class="mobile-menu h-screen w-screen fixed inset-0 bg-white text-gray-700 z-10" x-cloak :class="navOpen ? '' : 'hidden'">
    <ul class="flex flex-col w-full mt-20 pt-10 space-y-5 items-center">
        {{ nav:main_nav }}
            <li><a href="{{ url }}" class="text-xl hover:underline">{{ title }}</a></li>
        {{ /nav:main_nav }}

        {{ if logged_in }}
        {{ nocache }}
        <form class="" method="POST" action="/logout">
            {{ csrf_field }}
            <button type="submit" class="btn">
            Log out
            </button>
        </form>
        {{ nocache }}
        {{ else }}
            <a href="/members-login">
                <button class="btn">
                    Log in
                </button>
            </a>
        {{ /if }}
    </ul>
</div>